@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/site.css">

</head>
<body>
    <div class="text-center">
        <h1 class="display-4" style="color:white">Welcome WEB API Pokemon</h1>
        <h3 class="display-4" style="color:white">By Jose Ureña</h3>
    </div>
    <div class="lists__pokemons" id="lists__pokemons">
    </div>
    <script src="/js/site.js"></script>
</body>
</html>







@*<body>
    <div class="text-center">
        <h1 class="display-4">Welcome WEB API Pokemon</h1>
    </div>

    <div class="text-center">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var @item in ViewBag.PokemonList.results)
                {
                    <div class="col">
                        <div class="card shadow-sm" style="width:252px">
                            <div class="flex-shrink-0">
                                <img src=movies.Photo class="card-img-top" alt="..." style="width:250px">
                            </div>

                            <div class="card-body">
                                <h3 class="card-text">@item.name</h3>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>


<style>
    body {
        height: 400px;
        background-color: steelblue;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0;
        font: 600 16px/18px 'Open Sans',sans-serif;
    }

</style>*@